<footer>
    <div class="footer-container">
        <div class="footer-brand">
            <img src="assets/images/pe.png" alt="GESC" style="filter: brightness(0) invert(1); max-width: 300px;">
        </div>
        <div class="footer-col">
            <h4>Contato</h4>
            <p>Rua Paschoal Marmo, 1888<br>Jd. Nova Itália, Limeira - SP</p>
            <p><strong>Email:</strong> gesc@unicamp.br</p>
        </div>
        <div class="footer-col">
            <h4>Navegação</h4>
            <ul>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="#linhas-pesquisa">Pesquisa</a></li>
                <li><a href="parceiros.html">Parceiros</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Social</h4>
            <div class="social-icons">
                <a href="https://www.linkedin.com/company/gesc-grupo-de-engenharia-de-sistemas-complexos-unicamp/posts/?feedView=all"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/gescunicamp/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        &copy; 2025 GESC - Todos os direitos reservados.
    </div>
</footer>